*~
*pyc
/build
/src/CorlDev/src/ply
/src/CorlDev/automation/scp_config.yaml
/src/calibration_data
/sandbox/fusion/*
/sandbox
/calibration_data
*snopt.out
.vscode/*

# The package in development
/src/catkin_projects/kplan_ros
/src/catkin_projects/kpam_coordinator